:root {
	color-scheme: light dark;
  --color-text: #1d1d1d;
  --color-backdrop: #fff;
}

@media (prefers-color-scheme: dark) {
	:root {
    --color-text: #fff;
    --color-backdrop: #1c1b22;
  }
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
  background: var(--color-backdrop);
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: var(--color-text);
  font-family: sans-serif;
}
