<!doctype html>
<html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{.title}}</title>
</head>
<body>
  <main>
    <h1>Welcome!</h1>
    {{range .articles}}
      <p>
        <a href="FIXME">{{ .Path }}</a>
      </p>
    {{end}}
  </main>
</body>
</html>
