html {
  /* FIXME FOIT flashes */
  font-family: 'Zilla Slab', sans-serif, serif;
}

main {
  max-width: 38rem;
  padding: .5rem;
  margin: auto;
}

html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

/* WIP Scrollsnap */
/* TODO
 * Can you stack containers?
 */
html { padding: 0 }
body { margin: 0 }
section {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  background-color: #f9f9f9;
  box-sizing: border-box;
  padding: 1em;
}
section p {
  scroll-snap-align: start;
}

